.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
.bg-orange{
    background-color: #dc540b;
}
.bg-red{
    background-color: #c51f1a;
}
.white-muted{
  color: #e8d3d3f2;
}
nav{
    color: rgb(248, 250, 252);
}
.form-medium{
  width: 80%;
}
label{
  color: black;
}